body {
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  display: grid;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  grid-template-rows: 1fr min-content;
  height: 100dvh;
  margin: 0;
  text-align: center;
}

main {
  align-content: center;
  display: grid;
}

h1 {
  color: #193848;
  font-size: clamp(3.5rem, -0.5rem + 20vw, 12rem);
  letter-spacing: -0.02em;
  margin: 0;
  mix-blend-mode: multiply;
}

footer {
  font-weight: 300;
  padding: 0.5rem;
}

a {
  color: inherit;
}